
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #050122;
    color: #ffffff;
}

h1 {
    font-size: 56px;
}

.wrapper {
    padding: 20% 15%;
}

.header-nav {
    display: flex;
}

.nav-list {
    display: flex;
}

.nav-list-item {
    list-style: none;
    margin-left: 45px;
}

.btn-start-project {
    background-color: #67B8C8;
    border-radius: 50px;
    font-size: 20px;
    padding: 8px 45px;
}