@import './variables.css';
@import './buttons.css';
@import './navigation.css';
@import './form.css';
@import './assetsList.css';

html {
    scroll-behavior: smooth;
}

body {
    font-family:  var(--font-family);
    font-weight: var(--font-wght-light);
    color: var(--color-text);
    margin: 0;
}

h1, h2, h3 {
    font-weight: var(--font-wght-black);
}

h1 {
    font-size: 56px;
}

h2 {
    font-size: 48px;
}

h3 { 
    font-size: 32px;
}

a {
    display: inline-block;
    font-weight: var(--font-wght-regular);
    text-decoration: none;
    color: var(--color-text);
    outline: none;
}

p {
    width: 55%;
}

.wrapper {
    width: 1120px;
    margin: 0 auto;
}

.wrapper h1 {
    width: 630px;
}

.wrapper h2 {
    width: 480px;
}

section {
    padding: 6rem 0;
}

.hidden {
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.visible {
    display: block;
    opacity: 1;
}


footer {
    height: 75px;
    background-color: var(--color-background);
}
