.navigation {
    align-items: center;
    display: flex;
    justify-content: space-between;
    height: 65px;
    padding: 0;
}

.navigation__list {
    display: flex;
    list-style: none;
}

.navigation__item { 
    margin-left: 36px;
}

.item__link:hover {
    color: var(--color-primary);
}